- var data = require('../data/secondary.json');

doctype html
html
  head
    meta(charset='UTF-8')
    title Webpack
  body
    h2 #{data.greetings}
    img(src=require('../assets/sample.png'))
    a(href="/") Got to the index page
